<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
  <title><%= @number %> Pink Potions</title>
</head>
<body>
  
  <div class="bottles"></div>
  <p><%= @number %> Pink potions on the wall <a href="<%= @number.to_i - 1%>"> Drink one</a>
  </p>
  <script src="app.js"></script>  
</body>
</html>