<h1>Add New Pokemon</h1>
<form action="/pokemons" method="post">
  <label for="">Name</label>
  <input type="text" name="name">
  <label for="">image url</label>
  <input type="text" name="image_url">
  <button>Add</button>
</form>