<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Compliment</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body style="background-color: <%= color %>">
  <div>
    
    
    <h1><% if (name != '') { %>
      Hey <%= name %>
    <% } %> <%= compliment %></h1>
  </div>
  
</body>
</html>